@font-face {
    font-family: "Lato Hairline";
    src: url("Lato-Hairline.eot"); /* IE9 */
    src: url("Lato-Hairline.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Lato-Hairline.woff") format("woff"), /* chrome, firefox */
    url("Lato-Hairline.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Lato-Hairline.svg#Lato Hairline") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


