.site-footer{
    margin-top: 20px;
    @include tablet {
        margin-top: 30px;
    }
    .bar{
        width: 100%;
        height: 8px;
        background-color: $color-yellow;
        @include desktop{
            height: 14px;
        }
    }

    .subscribe{
        .subscribe-form{
            padding: 20px 0;
            @include clearfix;
            .copy{
                padding-bottom: 15px;
                @include desktop {
                    padding-bottom: 0;
                    float: left;
                    width: 460px;
                }
                h4{
                    font-size: 20px;
                    color: #549723;
                    margin: 0;
                    @include tablet{
                        font-size: 22px;
                    }
                }
            }

            .form{
                text-align: center;
                @include tablet{
                    text-align: left;
                }
                @include desktop {
                    float: right;
                    width: 520px;
                }
            }

            .wrap-input{
                position: relative;
                text-align: left;
                i{
                    position: absolute;
                    right: 10px;
                    top: 15px;
                    color: #9b9b9b;
                }

                @include tablet{
                    display: inline-block;
                    i {
                        right: 17px;
                        top: 17px;
                    }
                }

                input{
                    font-size: 14px;
                    width: 100%;
                    height: 40px;
                    line-height: 1;
                    border: 1px solid #d4d4d4;
                    background: white;
                    padding: 0 30px 0 10px;
                    font-family: $font-regular;
                    outline: none;
                    @include tablet{
                        font-size: 15px;
                        height: 46px;
                        width: 330px;
                        padding: 0 34px 0 17px;
                    }
                }
            }
            .button{
                margin-top: 15px;
                @include tablet{
                    margin-top: 0;
                    margin-left: 10px;
                }
            }
        }
    }

    .socials-network{
        background-color: #529722;
        color: #fff;
        text-align: center;
        font-size: 15px;
        letter-spacing: 1px;
        a{
            color: white;
        }
        .copy{
            padding: 25px 0;
        }
        .socials{
            font-size: 30px;
            a{
                display: inline-block;
                margin: 0 15px;
            }
            @include tablet{
                font-size: 36px;
            }
        }
        .nav{
            font-size: 14px;
            @include tablet{
                font-size: 16px;
            }
            padding: 35px 0 25px;
            .menu-item{
                display: inline-block;
                margin:  0 30px;
                text-transform: uppercase;
            }
        }
    }

    .footer--info{
        background-color: #e5f3dc;
        color: #31363c;

        .button{
            text-align: left;
        }
        .three-column{
            padding: 0 0 40px;
            @extend .clearfix;
            a {
                color: inherit;
            }
            > div{
                margin-top: 30px;
                @include tablet {
                    float: left;
                }
            }

            h3{
                font-size: 16px;
                color: #529722;
                margin: 0 0 20px;
                @include tablet{
                    font-size: 18px;
                }
            }
            ul{
                margin: 0 0 20px;
            }

            .information{
                @include tablet{
                    display: none;
                }
                @include desktop {
                    display: block;
                    width: 22%;
                }
                li {
                    margin: 15px 0;
                }
            }
            .contact{
                @include tablet{
                    width: 50%;
                    padding-left: 20px;
                }
                @include desktop {
                    width: 28%;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                p{
                    margin: 15px 0;
                }
                .fa-mobile{
                    font-size: 1.3em;
                }
            }
            .latest-news{
                @include tablet{
                    width: 50%;
                    padding-left: 20px;
                }
                @include desktop {
                    padding-left: 10px;
                }


                li{
                    @include clearfix;
                    border-bottom: 1px solid #e7e1cb;
                    margin-bottom: 15px;
                    padding-bottom: 8px;
                    position: relative;
                    figure{
                        float: left;
                        margin: 0 20px 10px 0;
                    }
                    h4{
                        margin: 0;
                        @include desktop {
                            padding-right: 150px;
                        }
                    }
                    .published-date{
                        font-size: 13px;
                        margin-top: 5px;
                        @include desktop {
                            position: absolute;
                            top: 0;
                            right: 0;
                            margin-top: 0;
                        }
                    }
                    p{
                        margin: 5px 0;
                    }
                }

                .button{
                    text-align: center;
                }
            }
        }
    }

    .copyright{
        padding-top: 20px;
        padding-bottom: 20px;
        .back-to-top{
            font-size: 40px;
            color: #529723;
            display: block;
            width: 50px;
            line-height: 48px;
            margin: 20px auto;
            text-align: center;
            height: 50px;
            border: 1px solid #529723;
            @include border-radius(50px);
        }
        p{
            text-align: center;
            font-size: 13px;
            margin: 0 0 5px;
            @include tablet{
                margin: 0 0 10px;
                font-size: 14px;
            }
        }
    }
}



.yellow-template{
    .bar{
        background-color: $color-yellow;
    }
}

.blue-template{
    .bar{
        background-color: $color-blue;
    }
}
