
.site-header{
    padding-top: 18px;
    @include tablet{
        padding-top: 20px;
    }
    .logo{
        float: left;
        margin: 0 5px 18px;
        width: 150px;
        @include tablet {
            margin: 0 5px 20px;
            width: 225px;
        }
    }
    .meta-info{
        float: right;
        text-align: right;
        font-size: 12px;
        @include tablet {
            width: 370px;
        }
    }
    .where-to-buy{
        display: none;
        @include tablet {
            display: block;
            float: left;
        }
    }

    .language{
        position: relative;
        margin-right: 50px;
        @include tablet{
            margin-right: 0;
            float: right;
        }
        #lang_sel{

        }
        img{
            width: 18px;
        }
        li{
            display: inline-block;
            margin: 0 2px 0 8px;
            a{
                color: #42403a;
            }
            .lang_sel_sel{
                display: block;
                width: 34px;
                height: 34px;
                text-decoration: none;
                img{
                    width: 34px;
                }
                .icl_lang_sel_current{
                    display: none;
                }
                @include tablet{
                    display: inline;
                    width: auto;
                    height: auto;
                    img{
                        width: 18px;
                    }
                    .icl_lang_sel_current{
                        display: inline;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .open ~ ul{
                display: inline-block;
            }
            ul{
                display: none;
                position: absolute;
                right: 5px;
                top: 22px;
                margin: 15px 0;
                width: 120px;
                @include tablet{
                    width: auto;
                    margin: 8px 0;
                    display: inline-block;
                    position: static;
                }
            }
        }
    }



    .site-menu{
        background-color: #529722;
        //@include background-image(linear-gradient(#635043, #746055 42%, #877267 43%, #6b5a4f 100%));
        .container{
            padding-left: 0;
            padding-right: 0;
            position: relative;
            @include clearfix;
        }
        .bar{
            width: 100%;
            height: 8px;
            background-color: $color-yellow;
            @include desktop{
                height: 14px;
            }
        }

        .toggle-main-menu{
            width: 52px;
            height: 37px;
            padding: 5px 10px;
            position: absolute;
            right: 10px;
            top: -50px;
            span{
                float: right;
                height: 4px;
                margin: 2px 0 3px;
                background-color: black;
                @include border-radius(1px);
                width: 24px;
                clear: right;
                &:nth-child(2){
                    width: 18px;
                }
            }
            @include tablet{
                position: static;
                float: right;
                span{
                    background-color: white;
                }
            }
            @include desktop{
                display: none;
            }

            &.open {
                span{
                    &:nth-child(1){
                        @include transform(rotate(43deg) translate(8px, 6px));
                    }
                    &:nth-child(2){
                        width: 0;
                    }
                    &:nth-child(3){
                        @include transform(rotate(-47deg) translate(7px, -5px));
                    }
                }
                ~ .main-menu-wrap .main-menu {
                    padding: 0 15px;
                    > .menu-item {
                        display: block;
                    }
                }
            }
        }

        .main-menu-wrap{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 200;
            @include desktop{
                position: static;
            }
        }

        .main-menu{
            @include clearfix;

            background-color: #529722;
            @include desktop{
                background-color: transparent;
            }

            > .menu-item{
                display: none;
                position: relative;
                padding: 5px 0;
                font-size: 12px;
                font-family: $font-bold;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                &:first-child{
                    border-top: none;
                }
                @include desktop{
                    font-size: 14px;
                    float: left;
                    display: block;
                    padding: 0 10px;
                    border-top: none;
                }
                > a{
                    display: block;
                    text-transform: uppercase;
                    color: white;
                    padding: 9px 5px 8px;
                    @include desktop{
                        padding: 18px 12px 17px;
                    }

                    &:hover{
                        text-decoration: none;
                    }
                }

                &:hover {
                    .sub-menu {
                        @include opacity(1);
                        height: auto;
                        padding: 10px;
                    }
                }
                .sub-menu{
                    @include transition(all 0.3s);
                    padding: 0 10px;
                    height: 0;
                    overflow: hidden;

                    @include desktop{
                        z-index: 1000;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        @include opacity(0);
                        background-color: white;
                        width: 283px;
                        @include box-shadow(0 3px 13px -5px rgba(0, 0, 0, 0.5));
                    }

                    li{
                        border-top: 1px solid #f7f7f7;
                        &:first-child{
                            border-top: none;
                        }
                        &:hover, &:hover + li{
                            border-top-color: transparent;
                        }
                    }
                    a{
                        display: block;
                        padding: 10px;
                        color: white;
                        @include desktop {
                            color: #354a5f;
                            &:hover {
                                background-color: #e5f3dc;
                                text-decoration: none;
                            }
                        }
                    }
                }
                &:hover > a, &.current-menu-item > a, &.current-menu-ancestor > a{
                    @include desktop {
                        &:after{
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -10px;

                            width: 0;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;

                            border-bottom: 10px solid white;
                        }
                    }
                }
            }

            .special-submenu .sub-menu{
                @include desktop{
                    display: none;
                }
            }

            .menu-item-has-children{
                &:before{
                    content: "\f054";
                    font: $font-awesome;
                    color: white;

                    position: absolute;
                    right: 10px;
                    top: 13px;
                    @include desktop{
                        display: none;
                    }
                }
                &:hover{
                    &:before {
                        content: "\f078";
                    }
                }
            }
        }

    }

    .site-menu-wrapper{
        position: relative;
    }

    .submenu{
        display: none;
        @include box-shadow(0 10px 20px -10px rgba(0, 0, 0, 0.2));
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 8000;
        background: white;
    }
    .menu-link{
        @include clearfix;
        > li{
            float: left;
            width: 130px;
            margin-left: 30px;
            padding: 25px 0;
            h4{
                display: table-cell;
                margin: 0;
                font-size: 15px;
                height: 40px;
                vertical-align: middle;
                color: #2f363c;
            }

            figure{
                margin-top: 12px;
            }
        }
        .links{
            width: 300px;
            margin-left: 6px;
            li{
                border-top: 1px solid #f7f7f7;
                &:first-child{
                    border-top: none;
                    margin-top: 10px;
                }
                &:hover, &:hover + li{
                    border-top-color: transparent;
                }
            }
            h3{
                text-transform: uppercase;
                font-size: 16px;
                margin: 0;
                color: #2f363c;
            }
            a{
                display: block;
                padding: 10px;
                color: #354a5f;
                &:hover{
                    background-color: #e5f3dc;
                    text-decoration: none;
                }
            }
        }
    }
}

.slogan{
    display: none;
    color: #33485d;
    @include clearfix;
    padding: 12px;
    @include tablet{
        display: block;
    }
    .h1{
        float: left;
        font-size: 14px;
        font-family: $font-bold;
        margin: 4px 5px;
    }
    .connect{
        font-family: $font-light;
        text-align: right;
        font-size: 14px;
        color: #5f7080;
        .sn{
            line-height: 32px;
            a{
                display: inline-block;
                margin: 0 0 0 5px;
                width: 30px;
                height: 30px;
                text-align: center;
                @include border-radius(23px);
                color: white;
            }
            .sn--tw{
                background-color: #64a7f5;
            }
            .sn--fb{
                background-color: #3b5999;
            }
            .sn--in{
                background-color: #d0011b;
            }
        }
    }
}


.lang-vi{
    .site-header .site-menu .main-menu {
        > .menu-item {
            padding: 6px 0;
            @include desktop {
                padding: 12px 5px;
            }
        }
        .blue-label{
            left: 130px;
        }
    }
}
