.site-container{
    @include transition(padding 0.2s linear);
    overflow: hidden;
    position: relative;
    max-width: 100vw;
    padding-right: 0;
}
.site-wrapper{
    @include transition(margin 0.2s linear);
}

.site-rail-menu--open{
    padding-right: 100vw;
    @include tablet{
        padding-right: 460px;
    }
    .site-wrapper{
        margin-left: -100vw;
        @include tablet{
            margin-left: -460px;
        }
        @include responsive(1440){
            margin-left: 0;
        }

    }

    .site-header{
        padding-right: 100%;
        @include tablet{
            padding-right: 460px;
        }
        .site-header--inner{
            margin-left: -100vw;
            @include tablet{
                margin-left: -460px;
            }
            @include responsive(1440){
                margin-left: 0;
            }

        }
    }

    .site-rail-menu{
        right: 0;
    }
}

.site-rail-menu{
    background-color: #263238;
    color: white;
    padding: 60px 15px 20px 20px;
    height: 100vh;
    width: 100vw;

    position: fixed;
    right: -100vw;
    top: 0;
    z-index: 9000;

    @include transition(right 0.2s linear);

    @include tablet{
        padding: 60px 36px 36px 60px;
        width: 460px;
        right: -460px;
    }

    a{
        color: white;
    }
    .site-rail-menu--close{
        position: absolute;
        display: block;
        top: 17px;
        right: 17px;
        font-size: 0;
        width: 30px;
        height: 30px;
        @include tablet{
            top: 30px;
            right: 30px;
        }

        &:before, &:after{
            content:'';
            display: block;
            height: 3px;
            @include border-radius(1px);
            background-color: white;
        }
        &:before{
            @include transform(rotate(45deg) translate(10px, 10px));
        }
        &:after{
            @include transform(rotate(-45deg) translate(-8px, 8px));
        }

    }

    .scrolling{
        width: 100%;
        height: 100%;
    }
    .widget{
        font-size: 16px;
        margin-bottom: 25px;
        .widget--title{
            font-size: 25px;
            color: white;
            margin: 0 0 10px;
        }
        li{
            margin: 6px 0;
        }
    }

    .widget_nav_menu{
        .menu{
            > .menu-item{
                margin: 25px 0 0;
                &:first-child{
                    margin: 0;
                }
                > a {
                    display: inline-block;
                    font-weight: 500;
                    font-size: 25px;
                    color: white;
                    margin: 0 0 10px;
                    text-decoration: none;
                }
            }
            .menu--teal > a{
                color: $color-teal;
            }
            .menu--green > a{
                color: $color-green;
            }
            .menu--yellow > a{
                color: $color-yellow;
            }
        }
    }
}

