.site-container{
    @include transition(padding 0.2s linear);
    overflow: hidden;
    position: relative;
    max-width: 100vw;
    padding-right: 0;
}
.site-wrapper{
    @include transition(margin 0.2s linear, padding 0.2s linear);
    padding-top: 55px;
    @include tablet {
        padding-top: 67px;
    }
    @include desktop {
        padding-top: 124px;
    }
}
.site-header{
    @include transition(padding 0.2s linear);
    .site-header--inner{
        @include transition(margin 0.2s linear);
    }
}

.site-rail-menu--open{
    padding-right: 100vw;
    @include tablet{
        padding-right: 460px;
    }
    .site-wrapper{
        margin-left: -100vw;
        @include tablet{
            margin-left: -460px;
        }
        @include responsive(1440){
            margin-left: 0;
        }

    }

    .site-header{
        padding-right: 100%;
        @include tablet{
            padding-right: 460px;
        }
        .site-header--inner{
            margin-left: -100vw;
            @include tablet{
                margin-left: -460px;
            }
            @include responsive(1440){
                margin-left: 0;
            }

        }
    }

    .site-rail-menu{
        right: 0;
    }
}

.site-rail-menu{
    background-color: #4a4a4a;
    color: whitesmoke;
    padding: 60px 15px 20px 20px;
    height: 100vh;
    width: 100vw;

    position: fixed;
    right: -100vw;
    top: 0;
    z-index: 9000;

    @include transition(right 0.2s linear);

    @include tablet{
        padding: 60px 36px 36px 40px;
        width: 460px;
        right: -460px;
    }

    a{
        color: whitesmoke;
    }
    .site-rail-menu--close{
        position: absolute;
        display: block;
        top: 17px;
        right: 17px;
        font-size: 0;
        width: 30px;
        height: 30px;
        @include tablet{
            top: 30px;
            right: 30px;
        }

        &:before, &:after{
            content:'';
            display: block;
            height: 3px;
            @include border-radius(1px);
            background-color: whitesmoke;
        }
        &:before{
            @include transform(rotate(45deg) translate(10px, 10px));
        }
        &:after{
            @include transform(rotate(-45deg) translate(-8px, 8px));
        }

    }

    .scrolling{
        width: 100%;
        height: 100%;
    }
    .widget{
        font-size: 14px;
        margin-bottom: 25px;
        .widget--title{
            font-size: 25px;
            color: whitesmoke;
            margin: 0 0 10px;
        }
        li{
            margin: 5px 0;
        }
    }
    .widget_search{
        position: relative;
        margin: 20px 0;
        .widget--title{
            display: none;
        }
        label{
            span{
                display: none;
            }
            input{
                outline: none;
                height: 46px;
                line-height: 1;
                background: whitesmoke;
                border: none;
                @include border-radius(46px);
                width: 100%;
                padding: 0 20px;
                color: #344860;
                font-family: $font-medium;
                font-size: 14px;
                @include placeholder_style{
                    text-transform: uppercase;
                    color: #344860;
                }
            }
        }
        button{
            position: absolute;
            top: 9px;
            right: 16px;
            background: none;
            border: none;
            color: #4a4a4a;
            font: $font-awesome;
            &:before{
                content: "\f002";
                font-size: 24px;
            }
            span{
                display: none;
            }
        }
    }

    .widget_nav_menu{
        .widget--title{
            display: none;
        }
        .menu{
            text-transform: uppercase;
            > .menu-item{
                > a {
                    display: block;
                    text-decoration: none;
                    padding: 15px 20px;
                    @include border-radius(46px);
                    @include transition(background-color 0.2s linear);
                    &:hover{
                        background-color: #5c5c5c;
                    }
                }
            }
            ul{
                padding-left: 20px;
                li{
                    a{
                        display: block;
                        text-decoration: none;
                        padding: 8px 15px;
                        @include border-radius(46px);
                        @include transition(background-color 0.2s linear);
                        &:hover{
                            background-color: #5c5c5c;
                        }
                    }
                }
            }
            .current-menu-item > a{
                background-color: #5c5c5c;
            }
        }
    }
}

