$font-lato: 'Lato', sans-serif;
$font-open: 'Open sans', sans-serif;
//$font-monarcha: 'Monarcha W01 Book', serif;
//$font-monarcha: 'Noticia Text', serif;
//$font-monarcha: 'Taviraj', serif;
//$font-monarcha: 'Noto Serif', serif;
$font-monarcha: 'David Libre', serif;
$font-helve: 'helvetica_neueregular', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-awesome: normal normal normal 16px/1 FontAwesome;

$font-regular: 'LatoWeb', Helvetica, Arial, sans-serif;
$font-medium: 'LatoWebMedium', Helvetica, Arial, sans-serif;
$font-bold: 'LatoWebBold', Helvetica, Arial, sans-serif;
$font-light: 'LatoWebLight', Helvetica, Arial, sans-serif;
$font-thin: 'LatoWebThin', Helvetica, Arial, sans-serif;


$color-green: #519721;
$color-light-green: #E5F3DC;
$color-orange: #EB9F12;
$color-teal: #18AEB1;
$color-blue: #119EBC;
$color-pink: #F5AFAB;


$icons-layout:smart;
$grid:30px;
