.left-rail{
    @include desktop {
        float: left;
        width: 270px;
    }
}

.blog-content{
    @include desktop {
        float: right;
        width: 670px;
    }

    .item{
        margin: 15px 0 50px;
        @extend .clearfix;
        &:first-child{
            margin-top: 0;
        }

        h3{
            font-family: $font-regular;
            font-weight: normal;
            font-size: 26px;
            line-height: 1.1;
            margin: 0 0 12px;
            a{
                color: #529720;
            }
        }

        .details{
            .more{
                margin-top: 10px;
            }
        }
        .meta{
            border-top: 1px solid #eceaeb;
            color: #ccc;
            margin: 18px 0 15px;
            padding-top: 16px;
            font-size: 14px;
            span{
                color: #31363c;
                display: block;
                @include tablet {
                    display: inline-block;
                    margin: 0 10px;
                }
            }
            .separate{
                height: 10px;
                visibility: hidden;
                @include tablet{
                    height: auto;
                    visibility: visible;
                }
            }
            a{
                text-decoration: underline;
            }
            i{
                margin-right: 8px;
                color: #31363c;
            }
        }
        .tags{
            background-color: #e5f3dc;
            padding: 4px 8px;
            @include border-radius(10px);
            @include tablet {
                @include border-radius(30px);
            }
            i{
                color: #529722;
                margin: 0 5px;
            }
            a{
                font-size: 14px;
                display: inline-block;
                padding: 3px 15px 2px;
                background-color: white;
                margin: 5px;
                color: #31353e;
                @include border-radius(20px);
                &:hover{
                    background-color: #b8d6a4;
                    text-decoration: none;
                }
            }
        }
    }

    .has-thumbnail{
        .details {
            @include tablet {
                position: relative;
                min-height: 152px;
                padding-left: 250px;
            }
            figure {
                text-align: center;
                margin-bottom: 10px;
                @include tablet {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 230px;
                    margin-bottom: 0;
                }

                figcaption {
                    padding: 10px 0;
                    font-size: 14px;
                    line-height: 1.2;
                    color: #e9b700;
                }
            }
        }
    }
}

.module{
    margin-bottom: 40px;
    .module--title{
        text-transform: uppercase;
        font-size: 16px;
        color: #34495e;
        margin: 0 0 10px;
    }
}

.module--widget_categories{
    .module--title{
        &:before{
            content: '\f187';
            font: $font-awesome;
            font-size: 1.1em;
            margin-right: 10px;
        }
    }
    li{
        border-top: 1px solid #eee;
        @include transition(background-color 0.2s);
        &:first-child{
            border-top: none;
        }
        &:hover + li{
            border-color: #e5f3dc;
        }
        a{
            display: block;
            padding: 10px 20px;
            color: #3d4248;
            &:hover{
                background-color: #e5f3dc;
                text-decoration: none;
            }
        }
    }
}

.module--widget_tag_cloud{
    .module--title{
        &:before{
            content: '\f02b';
            font: $font-awesome;
            font-size: 1.1em;
            margin-right: 10px;
        }
    }
}

.tagcloud{
    background-color: #e5f3dc;
    padding: 8px 10px;
    @include border-radius(10px);
    a{
        display: inline-block;
        color: #2f363c;
        font-size: 14px !important;
        background-color: #fff;
        padding: 3px 15px 2px;
        margin: 3px;
        @include border-radius(15px);
        &:hover{
            background-color: #b8d6a4;
            text-decoration: none;
        }
    }
}

.module--widget_nav_menu{
    .menu{
        padding: 0 15px;
        background-color: #fef7e3;
        @include border-radius(15px);
    }
    li{
        border-top: 1px solid #fefbef;
        @include box-shadow(0 -1px 0 #fefefb);

        padding: 10px 0;

        &:first-child{
            border-top: none;
            @include box-shadow(none);
        }

        a{
            color: #413b3e;
        }
    }
}

.module--products{
    a{
        display: block;
        margin: 8px 0;
    }
}

.module--related-news{
    li{
        position: relative;
        padding: 5px 0 5px 20px;
        @include tablet{
            padding-left: 40px;
        }

        &:before{
            content:"\2022";
            color: #4e4b4c;
            font-size: 26px;
            font-family: Arial, sans-serif;

            position: absolute;
            left: 0;
            top: -2px;
            @include tablet{
                left: 20px;
            }
        }
    }
}

.tag-line{
    font-size: 14px;
    color: #896651;
    margin: 20px 0;
}

.viral-tools{
    margin: 20px 0;
    @include clearfix;
    .viral-tools--right{
        float: right;
    }
    .viral-tools--left{
        float: left
    }
}


.single-title{
    text-align: center;
    margin-bottom: 30px;

    .body{
        @include tablet {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    h2{
        color: #529723;
    }
    .meta{
        padding: 20px 0 30px;
        span{
            display: block;
            @include tablet{
                display: inline-block;
                margin: 0 10px;
            }
        }
        .separate{
            height: 10px;
            visibility: hidden;
            @include tablet{
                height: auto;
                visibility: visible;
            }
        }
        i{
            margin-right: 10px;
        }
    }
    .tags{
        i{
            display: none;
        }
        a{
            border: 1px solid #ddd;
            display: inline-block;
            padding: 3px 15px 2px;
            color: #31363a;
            font-size: 14px;
            margin: 5px;
            @include border-radius(20px);
            &:hover{
                background-color: #b8d6a4;
                text-decoration: none;
            }
        }
    }

    .excerpt{
        background-color: #e5f3dc;
        padding: 20px 0;
        .more{
            margin-top: 20px;
        }
        .body{
            font-size: 1.2em;
            @include tablet {
                padding-left: 80px;
                padding-right: 80px;
            }
        }
    }
}

.body{
    @include clearfix;
    color: #34393F;
    font-size: 15px;
    @include tablet{
        font-size: 16px;
    }
    > *{
        margin: 0 0 15px;
        &:last-child{
            margin: 0;
        }
    }
    a{
        text-decoration: underline;
    }

    .alignleft{
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include tablet {
            float: left;
            margin: 5px 15px 15px 0;
        }
    }
    .alignright{
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include tablet {
            float: right;
            margin: 5px 0 15px 15px;
        }
    }
    .aligncenter{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ul{

    }
    li{
        position: relative;
        padding: 5px 30px;
        &:before{
            content:"\2022";
            color: #4e4b4c;
            font-size: 26px;
            font-family: Arial, sans-serif;

            position: absolute;
            left: 10px;
            top: -2px;
        }
    }

    h1, h2, h3, h4, h5, h6{
        font-family: $font-regular;
        font-weight: normal;
    }

    h1{
        font-size: 36px;
        line-height: 1.1;
        @include tablet {
            &.hero {
                font-size: 46px;
                line-height: 1;
            }
        }
    }
    h2{
        font-size: 20px;
        line-height: 1.1;
        @include tablet {
            font-size: 26px;
        }
    }
    h3{
        font-size: 18px;
        line-height: 1.1;
        @include tablet {
            font-size: 21px;
        }
    }
    h4{
        font-size: 16px;
        line-height: 1.1;
        @include tablet {
            font-size: 18px;
        }
    }

    .small{
        font-size: 14px;
    }

    .button{
        margin: 0 5px 20px;
        &:first-child{
            margin-left: 0;
        }
        @include tablet{
            margin-bottom: 10px;
        }
    }
}

.bar{
    position: relative;
    span{
        display: block;
        position: absolute;
        width: 100%;
        height: 15px;
        background-color: black;
        top: -33px;
        left: 0;
    }
    .color--green{
        background-color: $color-green;
    }
    .color--light-green{
        background-color: $color-light-green;
    }
    .color--teal{
        background-color: $color-teal;
    }
    .color--blue{
        background-color: $color-blue;
    }
    .color--orange{
        background-color: $color-orange;
    }
    .color--pink{
        background-color: $color-pink;
    }
}