.left-rail{
    @include desktop {
        float: left;
        width: 240px;
    }
}

.blog-content{
    @include desktop {
        float: right;
        width: 690px;
    }

    .item{
        margin: 15px 0 50px;
        @extend .clearfix;

        .details{
            line-height: 1.5;
            color: #6f4b45;
            h2{
                font-weight: 400;
                font-size: 20px;
                margin: 0;
                a{
                    color: #001b5d;
                    &:hover{
                        text-decoration: none;
                        color: #6f4b45;
                    }
                }
            }
            .meta{
                margin: 12px 0;
                font-size: 14px;
                span{
                    color: #e9b700;
                }
                a{
                    text-decoration: underline;
                }
            }
            .summary{
                p{
                    display: inline;
                }
            }
        }
    }

    .has-thumbnail{
        position: relative;
        @include tablet {
            padding-left: 225px;
        }
        figure{
            text-align: center;
            @include tablet {
                position: absolute;
                left: 0;
                top: 5px;
                width: 200px;
            }

            figcaption{
                padding: 10px 0;
                font-size: 14px;
                line-height: 1.2;
                color: #e9b700;
            }
        }
    }
}

.module{
    margin-bottom: 40px;
    .module--title{
        font-weight: 400;
        font-size: 25px;
        color: #0060c1;
        margin: 0 0 10px;
    }
}

.module--widget_categories{
    li{
        border-top: 1px solid #f8fafa;
        @include box-shadow(0 -1px 0 #f0f1f2);

        padding: 10px 0;

        &:first-child{
            border-top: none;
            @include box-shadow(none);
        }

        a{
            color: #413b3e;
        }
    }
}

.tagcloud{
    a{
        display: inline-block;
        font-size: 13px !important;
        color: white;
        background-color: #f2c414;
        padding: 5px 8px;
        margin: 3px 0;
        @include border-radius(15px);
    }
}

.module--widget_nav_menu{
    .menu{
        padding: 0 15px;
        background-color: #fef7e3;
        @include border-radius(15px);
    }
    li{
        border-top: 1px solid #fefbef;
        @include box-shadow(0 -1px 0 #fefefb);

        padding: 10px 0;

        &:first-child{
            border-top: none;
            @include box-shadow(none);
        }

        a{
            color: #413b3e;
        }
    }
}

.module--products{
    a{
        display: block;
        margin: 8px 0;
    }
}

.module--related-news{
    li{
        position: relative;
        padding: 5px 0 5px 20px;
        @include tablet{
            padding-left: 40px;
        }

        &:before{
            content:"\2022";
            color: #4e4b4c;
            font-size: 26px;
            font-family: Arial, sans-serif;

            position: absolute;
            left: 0;
            top: -2px;
            @include tablet{
                left: 20px;
            }
        }
    }
}

.tag-line{
    font-size: 14px;
    color: #896651;
    margin: 20px 0;
}

.viral-tools{
    margin: 20px 0;
    @include clearfix;
    .viral-tools--right{
        float: right;
    }
    .viral-tools--left{
        float: left
    }
}


.single-title{
    h2{
        font-weight: 400;
        font-size: 40px;
        line-height: 1.1;
        color: #003E7E;
        margin: 10px 0;
    }
    .meta{
        margin: 20px 0;
        font-size: 14px;
        span{
            color: #e9b700;
        }
        a{
            text-decoration: underline;
        }
    }
}

.body{
    @include clearfix;
    line-height: 1.5;
    color: #696056;
    > *{
        margin: 0 0 20px;
        &:last-child{
            margin: 0;
        }
    }
    a{
        text-decoration: underline;
    }

    .alignleft{
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include tablet {
            float: left;
            margin: 5px 15px 15px 0;
        }
    }
    .alignright{
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include tablet {
            float: right;
            margin: 5px 0 15px 15px;
        }
    }
    .aligncenter{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ul{

    }
    li{
        position: relative;
        padding: 5px 30px;
        &:before{
            content:"\2022";
            color: #4e4b4c;
            font-size: 26px;
            font-family: Arial, sans-serif;

            position: absolute;
            left: 10px;
            top: -2px;
        }
    }

    h2{
        font-family: $font-monarcha;
        @include transform(skew(-2deg));
        font-size: 34px;
        line-height: 1.1;
        color: #003E7E;
        @include tablet{
            font-size: 40px;
            line-height: 1;
        }
    }
    h1, h3, h4, h5, h6{
        font-family: $font-helve;
        font-weight: normal;
        color: #0071BC;
    }

    h1{
        font-size: 25px;
        line-height: 1.1;
        @include tablet {
            font-size: 28px;
        }
    }
    h3{
        font-size: 22px;
        line-height: 1.2;
        @include tablet {
            font-size: 24px;
        }
    }
    h4{
        font-size: 19px;
        line-height: 1.3;
        @include tablet {
            font-size: 21px;
        }
    }
    h5{
        font-size: 16px;
        line-height: 1.5;
        @include tablet{
            font-size: 18px;
        }
    }
    h6{
        font-size: 13px;
        line-height: 1.5;
        @include tablet{
            font-size: 15px;
        }
    }
    .button{
        margin: 0 5px 20px;
        @include tablet{
            margin-bottom: 10px;
        }
    }

    .p-hero, .p-intro{
        font-size: 17px;
        @include tablet{
            font-size: 20px;
            line-height: 1.4;
        }
    }
}



.yellow-template{
    .body{
        color: #696056;
        font-size: 16px;
        line-height: 1.4;
        @include tablet{
            font-size: 18px;
            line-height: 1.3;
        }

        li:before{
            color: #62534e;
        }
    }
}


.blue-template{
    .body{
        color: #001b5e;
        font-size: 16px;
        line-height: 1.4;
        @include tablet{
            font-size: 18px;
            line-height: 1.3;
        }

        li:before{
            color: #001b5e;
        }
    }
}
