
.site-main{
    min-height: 400px;
}

.site-title {
    position: relative;
    background-color: #e5f3dc;
    border-top: 1px solid #eee;
    .container{
        position: relative;
        padding: 43px 0;
        text-align: center;
    }

    &.child{
        .container {
            padding: 30px 0;
        }
    }

    &.has-background{
        background-position: center top;
        background-size: cover;
        .container {
            min-height: 150px;
            text-align: left;
            @include tablet {
                min-height: 350px;
            }
        }

        .title{
            position: absolute;
            left: 10px;
            bottom: 10px;
            background-color: white;
            padding: 5px 10px;
            @include tablet{
                padding: 10px 15px;
                left: 15px;
                bottom: 26px;
            }
            img{
                display: none;
            }
        }
    }

    h1 {
        font-family: $font-thin;
        color: #31363c;
        font-size: 28px;
        line-height: 1;
        margin: 0;
        @include tablet{
            font-size: 36px;
        }
    }

    h2{
        font-family: $font-bold;
        color: #529722;
        font-size: 16px;
        line-height: 1;
        margin: 8px 0 0;
        @include tablet{
            font-size: 18px;
        }
    }
}

.site-breadcrumb{
    padding: 15px 10px ;
    border-bottom: 1px solid #eeeeee;
    color: #41464c;
    .breadcrumbs {
        font-size: 14px;
        li {
            display: inline-block;
            &:first-child {
                .divider {
                    display: none;
                }
            }
            &:last-child{
                display: none;
                @include desktop{
                    display: inline-block;
                }
            }
            .divider {
                display: inline-block;
                margin: 0 10px;
                font-size: 1.3em;
            }
        }
    }
}

.main-container{
    margin-top: 30px;
    @include tablet{
        margin-top: 50px;
    }
}

.home {
    .site-title, .site-breadcrumb{
        display: none;
    }
    .main-container{
        margin-top: 0;
    }
}

.pagination{
    margin: 0 0 50px;
    text-align: center;
    .screen-reader-text{
        display: none;
    }
    .nav-links{
        .page-numbers{
            display: inline-block;
            width: 30px;
            height: 30px;
            @include border-radius(20px);
            background-color: #f2ebf1;
            color: #2c3b54;
            line-height: 30px;
            text-align: center;
            margin: 0 5px;
            font-size: 14px;
            &:hover{
                text-decoration: none;
            }
        }
        .current{
            background-color: #0759b3;
            color: white;
        }
        .prev, .next{
            background-color: transparent;
            color: #3d609c;
            width: auto;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}





.yellow-template{
    a{
        color: #e9c002;
    }
    .site-title {
        .title {
            color: #edb915;
        }
    }
}

.blue-template{
    a{
        color: #0372be;
    }
    .site-title {
        border-bottom: 1px solid #8ec0e1;
        @include box-shadow(0 1px 0 #2a89c7);
        .title {
            color: #0970c1;
        }
    }
}



.site-banner{
    text-align: center;
}





