.panel-grid{
    margin-bottom: 30px;
    @include tablet{
        margin-bottom: 50px;
    }
    .container {
        @include clearfix;
    }
    .so-widget-image{
        width: 100%;
        @include tablet{
            width: auto;
        }
    }
    .panel-grid-cell{
        margin-bottom: 20px;
        @include tablet{
            margin-bottom: 0;
        }
    }
    .panel-grid-cell--first.panel-grid-cell--last{
        margin-bottom: 0;
    }
    .total-item-2{
        @include tablet {
            .panel-grid-cell {
                width: 50%;
            }
            .panel-grid-cell--first {
                float: left;
                padding-right: 15px;
            }
            .panel-grid-cell--last {
                float: right;
                padding-left: 15px;
            }
        }
    }
    .total-item-3{
        @include tablet {
            .panel-grid-cell {
                float: left;
                width: 33.33%;
                padding-left: 7px;
                padding-right: 7px;
            }
            .panel-grid-cell--first {
                padding-left: 0;
                padding-right: 13px;
            }
            .panel-grid-cell--last {
                float: right;
                padding-right: 0;
                padding-left: 13px;
            }
        }
    }
    .total-item-4{
        @include tablet {
            .panel-grid-cell {
                float: left;
                width: 25%;
                padding-left: 6px;
                padding-right: 6px;
            }
            .panel-grid-cell--first {
                padding-left: 0;
                padding-right: 12px;
            }
            .panel-grid-cell--last {
                float: right;
                padding-right: 0;
                padding-left: 12px;
            }
        }
    }
    .total-item-5{
        @include tablet {
            .panel-grid-cell {
                float: left;
                width: 20%;
                padding-left: 5px;
                padding-right: 5px;
            }
            .panel-grid-cell--first {
                padding-left: 0;
                padding-right: 10px;
            }
            .panel-grid-cell--last {
                float: right;
                padding-right: 0;
                padding-left: 10px;
            }
        }
    }

    .siteorigin-widget-tinymce, .textwidget{
        @extend .body;
        > div{
            @extend .body;
            margin-bottom: 0;
        }
    }



}

.show-mobile{
    display: block;
    @include tablet{
        display: none;
    }
}
.hide-mobile{
    display: none;
    @include tablet{
        display: block;
    }
}




.panel-grid-cell {
    .widget_sow-button {
        display: inline-block;
        margin: 0 10px 10px;
        .button {
            padding: 0;
            a {
                background: none;
                border: none;
                padding: 0 20px;
                text-shadow: none;
                box-shadow: none;
                text-decoration: none;
                @extend .button;

                &:hover{
                    background: none;
                }
            }
        }
        .button--large{
            a {
                padding: 0 40px;
            }
        }
        .button--gray{
            a{
                color: black !important;
            }
        }
    }
    .widget_nav_menu{
        color: #496074;
        .widget-title{
            display: inline-block;
            font-size: 15px;
            font-weight: 600;
            border: 1px solid #ebebe6;
            height: 42px;
            line-height: 42px;
            padding: 0 40px 0 20px;
            margin: 0;
            @include border-radius(20px);
            background-color: white;
            position: relative;
            cursor: pointer;
            z-index: 5;
            min-width: 280px;
            color: inherit;
            font-family: $font-open;
            &:after{
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 7px solid #496074;

                position: absolute;
                right: 20px;
                top: 18px;
            }

            ~ div{
                position: relative;
                .menu{
                    display: none;
                    position: absolute;
                    z-index: 5;
                    background-color: white;
                    border: 1px solid #f5efd3;
                    top: -1px;
                    left: 15px;
                    min-width: 250px;
                }
                li{
                    a{
                        display: block;
                        text-decoration: none;
                        padding: 8px 20px;
                        color: #496074;
                        &:hover{
                            background-color: #ebebe6;
                        }
                    }

                }
            }

            &.open ~ div .menu{
                display: block;
            }
        }

    }

    .widget-title{
        font-family: $font-helve;
        font-weight: normal;
        color: #0071BC;
        font-size: 22px;
        line-height: 1.2;
        margin: 0 0 20px;
        @include tablet{
            font-size: 24px;
        }

    }

    .widget_recent_entries{
        li{
            border-bottom: 1px solid #e7e1cb;
            margin-bottom: 15px;
            padding-bottom: 15px;
            &:last-child{
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            a{
                color: #696056;
            }
            .post-date{
                color: #7e716b;
                display: block;
                font-size: 85%;
                margin-top: 7px;
                &:before{
                    content: "\f073";
                    font: $font-awesome;
                    margin-right: 7px;
                }
            }
        }
    }

    .panel-widget-style{
        padding: 15px;
    }
    .cover{
        padding: 0;
    }
    .no-style{
        padding-right: 0;
        padding-left: 0;
    }

    .rounded-top{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .rounded-bottom{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

.total-item-1 .panel-widget-style{
    padding: 0;
}

.total-item-3 .panel-first-child .no-style{
    padding-top: 0;
}


.cover .sow-image-container{
    @include tablet {
        opacity: 0;
        @include transition(opacity 0.3s);
    }
}


.siteorigin-panels-stretch{
    .container{
        padding: 0;
    }
    .panel-grid-cell{
        margin-bottom: 0;
    }
}