.single-product{
    .site-breadcrumb{
        background-color: #e5f3dc;
    }
}

.product-title{
    h2{
        color: $color-green;
        margin-bottom: 10px;
        a{
            text-decoration: none;
        }
    }
}

.product-summary{
    margin-bottom: 20px;
    @include desktop{
        margin-bottom: 0;
    }
}

.product-details{
    margin: 30px 0;
    ul{
        background-color: #e5f3dc;
        padding: 10px 0;
        @include border-radius(10px);
        @include tablet{
            padding: 10px 20px;
        }
    }
    li{
        border-top: 1px solid white;
        padding: 5px 20px;
        &:first-child{
            border-top: none;
        }
        &:before{
            display: none;
        }
        @include tablet {
            padding: 5px 0 5px 170px;
            position: relative;
            border-top: none;
        }
        strong{
            display: block;
            @include tablet {
                position: absolute;
                left: 0;
                top: 5px;
                max-width: 160px;
            }
        }
    }
}

.extra-link{
    border-top: 1px solid #d9d9d9;
    padding: 30px 0 0;
    margin: 30px 0;
}


.product-images{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    .popup-gallery{
        margin-bottom: 3px;
        .popup-gallery-item{
            width: 100%;
            //height: 210px;
            text-align: center;
            background-color: #f5f5f5;
            img{
                display: inline-block;
                max-height: 100%;
            }
            a {
                outline: none;
            }
            //@include responsive(375){
            //    height: 260px;
            //}
            //@include responsive(400){
            //    height: 300px;
            //}
            //@include desktop{
            //    height: 200px;
            //}
        }
    }

    .gallery-nav{
        @extend .clearfix;
        margin-left: -2px;
        margin-right: -2px;
        margin-bottom: 30px;
        @include tablet{
            margin-bottom: 40px;
        }
        .gallery-item{
            float: left;
            width: 33.33%;
            text-align: center;
            padding: 3px;
            a{
                display: block;
                background-color: #eaeaea;
            }
        }
    }
}

.lang-vi {
    .product-details{
        li{
            @include tablet {
                padding-left: 190px;
            }
            strong{
                @include tablet {
                    max-width: 180px;
                }
            }
        }
    }
}